astroid
certifi
chardet
colorama
coverage
dj-database-url
Django
django-environ
gunicorn
idna
isort
social-auth-app-django
lazy-object-proxy
mccabe
nose
Pillow
psycopg2-binary
pylint
pytz
requests
six
typed-ast
urllib3
whitenoise
wrapt
django-cleanup
python-memcached
sorl-thumbnail
mysqlclient