.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '»';
    font-size: 55px;
    color: #979797;
}

.carousel-control-prev-icon:after {
    content: '«';
    font-size: 55px;
    color: #979797;
}

.carousel-control-prev {
    left: -65px;
}

.carousel-control-next {
    right: -65px;
}

.w-100 {
    /*width: 280px !important;*/
    height: 440px;
}

.slide {
    width: 280px;
}

@media screen and (max-width: 767px) {
    .carousel-control-prev {
        left: -35px;
    }

    .carousel-control-next {
        right: -35px;
    }
}