<!DOCTYPE html>
{% load static %}
<html lang="id">
<head>
    {% include "head-import.html" %}
    {% include "_seo.html" %}
    {% block head %}{% endblock %}
    {% include "_analytics.html" %}
</head>
<body>
{% include "navbar.html" %}
<main>
    {% block content %}{% endblock %}
</main>
{% include "footer.html" %}
{% include "_jsonld_site.html" %}
{% if page_jsonld %}<script type="application/ld+json">{{ page_jsonld|safe }}</script>{% endif %}
{% block structured_data %}{% endblock %}
{% include "script-import.html" %}
{% block script %}{% endblock %}
</body>
</html>
