{% load static %}
<footer class="footer">
    <div class="contact-us d-flex">
        <img src="{% static 'img/lexia-borderless.png' %}" alt="Lexia Logo">
        <div class="footer-description flex-column">
            <p class="sub-title-footer">LEXIA MACHINERY</p>
            <p class="description-footer">(+62) 61 4154876</p>
            <p class="description-footer">(+62) 61 4515028</p>
            <p class="description-footer">(+62) 852 7510 3333</p>
            <p class="description-footer">Pelita Graphic Supplies Jalan Mesjid No. 165 Medan, Indonesia</p>
        </div>
    </div>

    <div class="footer-description flex-column">
        <div class="flex-column">
            <div class="flex-contact">
                <a href="https://www.facebook.com/lexiamachinery.ind/" target="_blank" class="sosmed">
                    <img class="icon-footer" src='{% static 'img/facebook-logo.png' %}'>
                </a>
                <a href="https://instagram.com/lexiamachinery.ind?utm_source=ig_profile_share&igshid=5cr38ynhz1np"
                   target="_blank" class="sosmed">
                    <img class="icon-footer" src='{% static 'img/instagram-logo.png' %}'>
                </a>

                <a href="https://www.youtube.com/user/JeffryAldiP" target="_blank" class="sosmed">
                    <img class="icon-footer" src='{% static 'img/youtube-logo.png' %}'>
                </a>
                <a href="https://www.tokopedia.com/lexiamachinery" target="_blank" class="sosmed">
                    <img class="icon-footer-tokped" src='{% static 'img/tokopedia-logo.png' %}'>
                </a>
            </div>
        </div>
    </div>
</footer>